.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  display: inline-block;
  margin-left: 0.25rem;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}
